
{% extends 'base.html' %}

{% block title %}
תכירו אותנו
{% endblock %}

{% block content %}
<style>
      body {
        font-family: Arial, sans-serif;
    }
    
    #div3 {
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #title3 {
        text-align: center;
        color: #4a4a4a;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .group {
        width: 100%;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        display: flex;
    }

    h4 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
    }

    /* p {
        font-size: 1.1rem;
        color: #555;
        line-height: 1.5;
        left: 35%;
    } */

    /* img {
        width: 130px;
        height: 150px;
        margin-right: 0px;
        border-radius: 50%;
        object-fit: cover;

        
    } */

    .rounded-image {
    width: 130px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}


    .row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    padding: 0 10px;
}

.column.text {
    width: 50%;
}

.column.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .column {
        width: 100%;
    }
}
</style>
<div id="div3">
    <h3 id="title3">תכירו אותנו</h3>

    <h2>המנחים של הפרויקט והיוזמות</h2>
    <div class="group">
        <div class="row">
            <div class="column image">
                <img src="static/alan.jpg" alt="" class="rounded-image"> 
            </div>
            <div class="column text">
                <h4>פרופסור אלן הרטמן</h4>
                <p>פרופסור חבר אמריטוס באוניברסיטת חיפה עם 31 שנות קריירת מחקר ב-IBM וחמש שנים כמרצה בכיר. המומחיות שלו משתרעת על תחומי טכנולוגיה מרובים, עם ניסיון בינלאומי, כולל לימודי פוסט-דוקטורט בקומבינטוריקה ואופטימיזציה. הרקע האקדמי שלו הוא במתמטיקה טהורה, עם פרסומים רבים ו-17 פטנטים, מה שמציב אותו ב-2% המובילים של החוקרים בתחומו. פרופסור אלן הינו המנחה הנוכחי של הפרויקט באוניברסטה.</p>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="row">
            <div class="column image">
                <img src="static/peleg.png" alt="" class="rounded-image"> 
            </div>
            <div class="column text">
                <h4>פרופסור מור פלג</h4>
                <p>פרופסור מור פלג היא פרופסור מן המניין באוניברסיטת חיפה, מפתחת שיטות חדשניות לפיתוח מערכות תומכות החלטות רפואיות ביו-רפואית. עם רקע בביולוגיה ומערכות מידע מהטכניון ופוסט דוקטורט בסטנפורד, היא ידועה בתרומתה לתחום הקווים המנחים הקליניים הממוחשבים (קמ"ר) ובפרט לשפת הקמ"ריםGLIF3 והובלת . היא הובילה את הפרויקט האירופאי MobiGuide שנתן תמיכה בקבלת החלטות של חולים מובילים ומצוידים בסנסורים לבישים, וברופאים שלהם, בכל מקום וזמן. עבודתה, המוכרת במספר פרסים יוקרתיים, מתמקדת בהתאמה אישית של התערבויות בריאותיות באמצעות למידת מכונה. יש לה למעלה מ-200 פרסומים והשפעה אקדמית גבוהה. פרופסור פלג הייתה המנחה של הפרוייקט בשתי השנים הראשונות שלו, בהן עסקו ביצירת שאלון סטנדרטי לאיסוף סימפטומים וניהול מחלה ממטופלות וניתוח טקסט בשיטות למידת מכונה לזיהוי נושאים שחוזרים על עצמם בדיווחים של מספר מטופלות.</p>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="row">
            <div class="column image">
                <img src="static/pic1.png" alt="" class="rounded-image"> 
            </div>
            <div class="column text">
                <h4>ענת הורוביץ</h4>
                <p>רכזת מיזם, אישה לאשה. לענת יש אמא שחולה במחלת מנייר, שלא זכתה לקבל זכויות מעולם על רקע מחלתה, היא מלווה את אמא שלה כבר 30 שנה, ענת מנסה לקדם את הנושא בהתנדבות. היא אחת ממייסדות ושותפות במיזם מגדרי "נשים, בריאות וחיים בכבוד", שמטרתו לקדם את זכויותיהן הרפואיות וסוציאליות של נשים החולות במחלות שקופות ומשפחותיהן.</p>
            </div>
        </div>
    </div>

        <div class="group">
            <div class="row">
                <div class="column image">
                    <img src="static/tsivia.jpeg" alt="" class="rounded-image">
                </div>
                <div class="column text">
                    <h4>צביה דעי</h4>
                    <p>פעילה חברתית ממובילות המיזם "נשים בריאות וחיים בכבוד, שהקימה את קבוצת דרום של המיזם שעוסק בשיקום לחולי פיברומיאלגיה. צביה מנהלת כמה דפי וקבוצות פייסבוק של פיברומיאלגיה לתמיכה ולהעלאת מודעות. בנוסף צביה חולת בתסמונת התשישות הכרונית ובפיברומיאלגיה מבית הספר התיכון ומכאן עם ידע וניסיון בלהיות חולה ובהתמודדות עם שתי המחלות.</p>
                </div>
            </div>
        </div>
        
        <div class="group">
            <div class="row">
                <div class="column image">
                    <img src="static/pic1.png" alt="" class="rounded-image">
                </div>
                <div class="column text">
                    <h4>ד"ר עופר מרקמן</h4>
                    <p>יזם עם למעלה מ-20 שנות ניסיון בהובלת פרויקטים ושיתוף פעולה בתחום הרפואי, הכלכלי והחברתי. ד"ר מרקמן מתמחה בשיתוף פעולה בינלאומי ובפיתוח פרויקטים עם מגוון גורמים, כוללממשלות, ארגונים לא ממשלתיים, חברות ומחקר יישומי. במסגרת פעילותו בפרויקט "נשים, בריאות וחיים בכבוד", ד"ר מרקמן מקדם את המחקר והשיתוף פעולה בין מוסדות רפואיים וארגונים חברתיים בישראל ובעולם.</p>
                </div>
            </div>
            </div>

    
            
    <h2>סטודנטים מתכנתים וחוקרים</h2>

    <h3>הצוות של פרופסור פלג</h3>
    <div class="group">
        <div class="row">
            <div class="column image">
                <img src="static/valeria.png" alt="" class="rounded-image">
            </div>
            <div class="column text">
                <h4>ולריה קרחמליוב</h4>
                <p>סטודנטית בשנה האחרונה ללימודים במערכות מידע במסלול פיתוח באוניבסיטת חיפה</p>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="row">
            <div class="column image">
                <img src="static/alon.png" alt="" class="rounded-image">
            </div>
            <div class="column text">
                <h4>אלון בן ארצי</h4>
                <p>סטודנט בשנה האחרונה באוניברסיטת חיפה בחוג למערכות מידע - מסלול כללי</p>
            </div>
        </div>
    </div>

    <h3>הצוות של פרופסור אלן</h3>
    <div class="group">
        <div class="row">
            <div class="column image">
                <img src="static/hanna.jpeg" alt="" class="rounded-image">
            </div>
            <div class="column text">
                <h4>חנא בוארדי</h4>
                <p>סטודנט בסמסטר האחרון באוניברסטת חיפה בחוג למערכות מידע במסלול בינה מלאכותית והתעניינות בעיבוד שפה טבעית</p>
            </div>
        </div>
    </div>


    <div class="group">
        <div class="row">
            <div class="column image">
                <img src="static/aseel.jpeg" alt="" class="rounded-image">
            </div>
            <div class="column text">
                <h4>אסיל אטרש</h4>
                <p>סטודנטית בסמסטר האחרון שלה באוניברסטת חיפה בחוג למערכות מידע במסלול בינה מלכותית והתעניינות בפיתוח ממשקי אדם מחשב.</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
        

